<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ramón Serrano - Web Developer">
    <meta name="author" content="Ramón Serrano">

    <title>Ramón Serrano - Web Developer</title>

    <!-- Bootstrap Core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Colors -->
    <link rel="stylesheet" type="text/css" href="/public/css/material.colors.css">

    <!-- Custom CSS -->
    <link href="/public/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/public/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Ramón Serrano</a>
            </li>
            <li>
                <a href="#top">Inicio</a>
            </li>
            <li>
                <a href="#services">Servicios</a>
            </li>
            <li>
                <a href="#portfolio">Portafolio</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <a href="#about" class="btn btn-dark btn-lg">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>"Hazlo simple: tan simple como sea posible, pero no más."</h2>
                    <p class="lead">Albert Einstein</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Servicios</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-database fa-stack-1x mdl-color-text--indigo-900"></i>
                            </span>
                                <h4>
                                    <strong>Sistemas de Información</strong>
                                </h4>
                                <p>Sistemas desarrollados de acuerdo a sus necesidades, escalables y personalizados.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-laptop fa-stack-1x mdl-color-text--green-900"></i>
                            </span>
                                <h4>
                                    <strong>Sitio Web Estático</strong>
                                </h4>
                                <p>Página web basado en diferentes tendencias y/o plantillas, desarrolladas desde cero, de acuerdo a un diseño en específico, totalmente personalizado.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-mobile-phone fa-stack-1x mdl-color-text--orange"></i>
                            </span>
                                <h4>
                                    <strong>Aplicaciones Móviles</strong>
                                </h4>
                                <p>Desarrollo de aplicaciones tanto para la Web como para Android.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <div class="row">
                        <div class="col-md-2 col-sm-6"></div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shopping-cart fa-stack-1x mdl-color-text--yellow"></i>
                            </span>
                                <h4>
                                    <strong>E-Commerce</strong>
                                </h4>
                                <p>Quieres tener tu negocio de ventas en línea con un carrito de compras. Esta es tu opción ideal.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-refresh fa-stack-1x mdl-color-text--red"></i>
                            </span>
                                <h4>
                                    <strong>Aplicaciones Cruzadas / Tiempo Real</strong>
                                </h4>
                                <p>Desarrollo de un sitio Web en tiempo real, que tenga la posibilidad además de desplegar en una aplicación para Android, Windows Phone y/o IOS.</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6"></div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
<!--     <aside class="callout">
        <div class="text-vertical-center">
            <h1>Vertically Centered Text</h1>
        </div>
    </aside> -->

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>"Hazlo simple: tan simple como sea posible, pero no más."</h2>
                    <p class="lead">Albert Einstein</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Portafolio</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#" target="_blank">
                                    <img class="img-portfolio img-responsive" src="public/img/portafolio/microscope/home.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#" target="_blank">
                                    <img class="img-portfolio img-responsive" src="public/img/portafolio/envases-mundial/inicio.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#" target="_blank">
                                    <img class="img-portfolio img-responsive" src="public/img/portafolio/moweb-jobs/inicio.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#" target="_blank">
                                    <img class="img-portfolio img-responsive" src="public/img/portafolio/sunset-roll/inicio.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#" target="_blank">
                                    <img class="img-portfolio img-responsive" src="public/img/portafolio/inter-energy/inicio.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <hr class="small">
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/RamEduard" target="_blank">
                                <i class="fa fa-github fa-fw fa-3x mdl-color-text--black"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ram%C3%B3n-serrano-828520b2">
                                <i class="fa fa-linkedin fa-fw fa-3x mdl-color-text--blue"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:rameduardserrano@gmail.com">
                                <i class="fa fa-envelope fa-fw fa-3x mdl-color-text--orange"></i>
                            </a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p>Copyright &copy; Ramón Serrano 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/public/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
